{% extends './comp/base.html' %}

{% block content %}

<form action="{% url 'djangoapp:login' %}"  method="post">
    {% csrf_token %}
    <h1>Sign Up</h1>
    <hr>
    <div class="mb-3">
        <label for="username"  class="form-control"><b>User Name</b></label>
        <input type="text"  class="form-control" placeholder="Enter User Name: " name="username" required>
    </div>
    <div class="mb-3">
        <label for="firstname" class="form-control"><b>First Name</b></label>
        <input type="text" class="form-control" placeholder="Enter First Name: " name="firstname" required>
    </div>
    <div class="mb-3">
        <label for="lastname" class="form-control"><b>Last Name</b></label>
        <input type="text" class="form-control" placeholder="Enter Last Name: " name="lastname" required>
    </div>
    <div class="mb-3">
          <label for="psw" class="form-control"><b>Password</b></label>
          <input type="password" class="form-control" placeholder="Enter Password: " name="psw" required>
    </div>
    <button class="btn btn-primary" type="submit">Sign Up</button>
  </form>
{% endblock %}